site:
  title: RvIG voor Developers
  start_page: brp-api::/landing.adoc
content:
  sources:
  - url: https://github.com/brp-api/brp-api.github.io.git
    branches: antora
  - url: https://github.com/brp-api/haal-centraal-brp-bevragen.git
    branches: antora
  - url: https://github.com/brp-api/haal-centraal-brp-bewoning.git
    branches: antora
  - url: https://github.com/brp-api/haal-centraal-brp-historie-bevragen.git
    branches: antora
  - url: https://github.com/rvig-publicaties/LO-BRP.git
    branches: main
  - url: https://github.com/rvig-publicaties/LO-BRPk.git
    branches: main
  - url: https://github.com/rvig-publicaties/LO-PBK.git
    branches: main
ui:
  bundle:
    url: https://github.com/brp-api/antora-ui-bundle/releases/download/v1.0.0/ui-bundle.zip
    snapshot: true
  supplemental_files:
  - path: ui.yml
    contents: |
      static_files:
      - .nojekyll
  - path: .nojekyll
antora:
  extensions:
  - '@antora/lunr-extension'
  - '@sntke/antora-mermaid-extension'
asciidoc:
  attributes:
    stem: latexmath
    page-stem: latexmath
urls:
  html_extension_style: indexify